<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.vworld.mapper.RoleMapper">

<select id="findAll" resultType="Role">
      select * from role
</select>

<!--    <resultMap id="roleRM" type="Role">
       <id column="role_id" property="roleId"></id>
        <result column="role_name" property="roleName"></result>
    </resultMap>-->

    <select id="saveRole">
        insert into role values (#{roleId},#{roleName})
</select>

    <delete id="deleteRoleById">
        delete from role where role_id =#{roleId}

    </delete>

    <delete id="deleteRoleById_m">
        delete from role_user where role_id =#{roleId}
    </delete>


</mapper>
